body {
  margin: 0;
  --nav-load-time: 300ms;
  --nav-link-load-time: 500ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time));
}

nav {
  background-color: rgb(0, 61, 92);
  color: white;
  animation: nav-load var(--nav-load-time) ease-in;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: center;
}
nav li {
  list-style: none;
  /* This puts 0 padding on top and bottom and 2em padding on left and right */
  margin: 0 2em;
  padding: 1em;
  font-family: "Roboto Mono", sans-serif;
  font-weight: bold;

  animation-name: nav-link-load;
  animation-duration: var(--nav-link-load-time);
  animation-timing-function: ease-in;
  animation-delay: var(--nav-load-time);
  /* need to add below so the scale is automatically 0 when this is rendered */
  transform: scale(0);
  animation-fill-mode: forwards;
}

nav li:first-child {
  animation-name: nav-first-link-load;
  transform: translateX(-1000%);
}

nav li:last-child {
  animation-name: nav-last-link-load;
  transform: translateX(1000%);
}

nav li:hover {
  background-color: #ffffff44;
}

nav a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  animation: article-load 300ms ease-in var(--article-load-delay);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}
p {
  animation: article-load 300ms ease-in calc(var(--article-load-delay) + 200ms);
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

/*  At the start of load, we want out header to slide in from top of screen
    So, first, translate it off the screen (up) by 100%
    Then slide it downwards to have that effect 
    */
@keyframes nav-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes nav-link-load {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes nav-first-link-load {
  0% {
    transform: translateX(-1000%);
  }
  90% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes nav-last-link-load {
  0% {
    transform: translateX(1000%);
  }
  90% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
